/*!
 * Dashboard Layout CSS.
 */

@import "variables.less";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 5px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: @sidebar-background;
    border-top: @sidebar-top-border;
    border-right: @sidebar-border;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  font-weight: bold;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  .underline {
    padding: 5px 0;
    border-bottom: 1px solid #ffffff;
  }
}
.nav-sidebar > li > a {
  padding: 1px 1px 1px 7px;
  color: #ffffff;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > .active > a:hover {
  color: #ffff00;
}
.nav-sidebar > li > a:hover {
  background: transparent;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #591112;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
