/*!
 * Tennisi Salepoint CSS Theme.
 * Extends Bootstrap v3.3.7 (http://getbootstrap.com).
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "../node_modules/bootstrap/less/mixins.less";


//
// Buttons
// --------------------------------------------------

/*.btn-primary {
  background: #ff4243;
  color: #ffffff;
  border: none;
  border-radius: 0;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #ff4243;
  color: #ffff00;
}

.btn-default {
  color: #ffffff;
  border: none;
  border-radius: 0;
  background: #a6a6a6;
}
.btn-default:hover,
.btn-default:focus {
  background: #a6a6a6;
  color: #ffff00;
}*/


//
// Application logo
// --------------------------------------------------

.app-logo {
  animation: app-logo-spin infinite 15s linear;
  height: 50px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


//
// Navbar
// --------------------------------------------------

.navbar.navbar-default {
  background: #990000;
  height: 50px;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .navbar-nav > li > a {
  color: #ffffff;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .open > a:focus {
  background-color: #591112;
  color: #ffffff;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .active > a:hover {
  color: #ffff00;
}
.navbar .navbar-nav > li > a:hover {
  background: transparent;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #591112;
}

//
// Forms
// --------------------------------------------------

.control-label {
  color: @brand-text;
}

textarea {
  resize: vertical;
}

//
// Tables
// --------------------------------------------------

.table > thead > tr > th {
  text-align: center;
  border-right: 1px solid #fff;
  background: #941f2c;
  color: #fff;
}

.table > thead > tr > th:last-child {
  border-right: 1px solid #990000;
}

.table tr.bg-accent td,
.table td.bg-accent {
  background: @table-bg-accent;
}

.table > tbody > tr > td {
  border: 1px solid #990000;
  background: #fff2c5;
  color: #933;
}

.table tbody:before {
  content: "-";
  display: block;
  line-height: 0;
  color: transparent;
}

.table-condensed {
  font-size: 14px;
}
