@import "../node_modules/bootstrap/less/variables.less";

//
// Custom colors
// --------------------------------------------------

@brand-color: #990000;
@brand-text: #941f2c;
@brand-focused: #ff4243;

@sidebar-background: @brand-color;
@sidebar-border: 1px solid #591112;
@sidebar-top-border: 1px solid #ffffff;


//
// Bootstrap variables override
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@brand-primary:         @brand-color;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            @brand-text;

//** Global textual link color.
@link-color:            @brand-text;
@link-hover-color:      @brand-focused;
@link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          15px;

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          @brand-color;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     4px;
@padding-base-horizontal:   8px;

@padding-large-vertical:    6px;
@padding-large-horizontal:  10px;

@padding-small-vertical:    3px;
@padding-small-horizontal:  6px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     4px;

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

@border-radius-base:        2px;
@border-radius-large:       3px;
@border-radius-small:       1px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #ffdecf;
//** Background color used for `.table-hover`.
@table-bg-hover:                #efefef;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            #fff;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-focused;
@btn-primary-border:             darken(@btn-primary-bg, 5%);


//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #fff;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;

//** Text color for `<input>`s
@input-color:                    @gray;
//** `<input>` border color
//@input-border:                   @brand-text;

//** Border color for inputs on focus
@input-border-focus:             #ff4243;


//== Type
//
//##

//** Page header border color
//@page-header-border-color:    @brand-text;
//** Horizontal line color.
//@hr-border:                   @brand-text;
